<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="1.png" />
    <link rel="bookmark" href="1.png" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author" content="魏腾宇">
    <link rel="stylesheet" href="assets/lib/weui/weui.css">
    <style>
        html,
        body,
        .container {
            height: 100%;
        }
    </style>
    <title>当当网热搜榜</title>
</head>

<body>
    <div ontouchstart class="container" ng-app='app'>
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui-tab__panel">
                    <div ng-view>
                    </div>
                </div>
                <div class="weui-tabbar" ng-controller="mainController">
                    <a href="#/" class="weui-tabbar__item {{selectedIndex==0?'weui-bar__item_on':''}}" ng-click="linkTo(0)">
                        <img src="./assets/images/icon_nav_form.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">首页</p>
                    </a>
                    <a href="#/blog" class="weui-tabbar__item {{selectedIndex==1?'weui-bar__item_on':''}}" ng-click="linkTo(1)">
                        <img src="./assets/images/icon_nav_form.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">我的blog</p>
                    </a>
                    <a href="#/book" class="weui-tabbar__item {{selectedIndex==2?'weui-bar__item_on':''}}" ng-click="linkTo(2)">
                        <img src="./assets/images/icon_nav_form.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">当当热销</p>
                    </a>
                    <a href="#/about_me" class="weui-tabbar__item {{selectedIndex==3?'weui-bar__item_on':''}}" ng-click="linkTo(3)">
                        <img src="./assets/images/icon_nav_form.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">联系我</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="assets/bundle.js"></script>


</html>